# Byte-compiled / cache
__pycache__/
*.py[cod]
*.sqlite3
*.db

# Environment variables
.env

# Virtual environments
.venv/
env/

# Output and logs
*.log
*.out

# Flask static and QR code cache
static/qrcodes/

# Docker
*.pid

# Ignore system files
.DS_Store
Thumbs.db

# SQLite database
vouchers.db